<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/mrkitty.css" rel="stylesheet">
    <script src="../static/mrkitty.js" defer></script>
    <title>Mr Kitty - About</title>
</head>
<body>
    <header>
        <div id="content-container">
            <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href ="/music">Music</a></li>
                        <li><a href="/engage">Engage</a></li>
                    </ul>
            </nav>
        </div>
    </header>
    <h1><strong>About</strong></h1>
    <div id="about-container">
        <div id="about">
            <img src="../static/about.jpg" width=300px height=300px alt="mr. kitty portrait blue background">
        </div>
            <p>This site was designed with intention of uniting fans of Mr. Kitty and fans of electronic music. Users can engage by submitting forms of their favorite Mr. Kitty songs.</p>
            <p>Mr. Kitty is a dark electronic project from Austin, TX, originally from Corpus Christi, TX. Since 2008, Mr. Kitty has been producing his own brand of emotive electronic music, releasing several albums and EP's, many of which are freely available on his website, mrkittydm.bandcamp.com. Mr. Kitty has also remixed tracks for other artists, including IAMX, Ayria, Aesthetic Perfection, and more. Mr. Kitty's latest album, Ephemeral, was released in November 2015 on Negative Gain Productions.</p>
            <p>In a 2019 interview, Carney stated that he produces music in his apartment, on a computer he has used since he was 18.</p>
        </div>
    </div>
    <div id="socials-container">
        <h2>Mr. Kitty's Socials</h2>
        <div id="social-links">
            <a href="https://www.instagram.com/mrkittydm/?hl=en">Instagram</a>
            <a href="https://www.facebook.com/mrkittydm/">Facebook</a>
            <a href="https://twitter.com/mrkittydm">Twitter</a>
        </div>
        <h2>Wikipedia Link</h2>
        <a href="https://en.wikipedia.org/wiki/Mr.Kitty">Wikipedia</a>
    </div>
    <footer>
        <div id="footer-container">
            <div id="copyright">
                &copy; 2023 Mr.Kitty Unofficial Site. All rights reserved.
            </div>
            <div id="contact-info">
                Contact: Kat Freeman | Phone: (207) 593-6552
            </div>
        </div>
    </footer>
</body>
</html>
