<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/mrkitty.css" rel="stylesheet">
    <script src="../static/mrkitty.js" defer></script>
    <title>Mr Kitty - Contact Us</title>
</head>
<body>
    <header>
        <div id="content-container">
            <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href ="/music">Music</a></li>
                        <li><a href="/engage">Engage</a></li>
                    </ul>
            </nav>
        </div>
    </header>
    <h1><strong>Contact Us</strong></h1>
    <div id="contact">
        <h3>Creator: Kat Freeman</h3>
        Email: kfreeman@ithaca.edu<br>
        Phone: 207-593-6552
    </div>
    <div id="contact-container">
        <p> A little about the author: 
            <br>
            <br>
            Kat is 20 years old and studies computer science and exercise science
            at Ithaca College. Kat has been drawn to electronic/EDM type music
            since she was just in elementary school. She notes that Mr. Kitty 
            opened the door for her to explore new artists with similar sounds.
            Kat is a <strong>huge</strong> fan of Mr. Kitty and hopes to one day see him live.
            Kat listens to Mr. Kitty so frequently, that a website specific to their music
            seemed like a great idea. Kat hopes that this website will be a fun way
            for fans to engage with each other and share their favorite songs.
        </p>
    </div>

    <footer>
        <div id="footer-container">
            <div id="copyright">
                &copy; 2023 Mr.Kitty Unofficial Site. All rights reserved.
            </div>
            <div id="contact-info">
                Contact: Kat Freeman | Phone: (207) 593-6552
            </div>
        </div>
    </footer>
</body>
</html>