<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/mrkitty.css" rel="stylesheet">
    <script src="../static/mrkitty.js" defer></script>
    <title>Mr Kitty - Engage</title>
</head>
<body>
    <header>
        <div id="content-container">
            <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href ="/music">Music</a></li>
                        <li><a href="/engage">Engage</a></li>
                    </ul>
            </nav>
        </div>
    </header>
    <h1><strong>Engage</strong></h1>
    <br>    
    <div id="engage-container">
        
        <h2>Engage with fans/peers like you!</h2>
        <br>
        <p>The engage page was designed to help fans alike<br>
            share their favorite songs and albums. It also 
            gives the author<br> insight on how to make this website
            better. We want to hear from you!
        </p>
    </div>
        
        <br>
        <div class="form-container">

        <h2>Choose a Form to Submit:</h2>
        <ul>
            <li><a href="/albumform">Favorite Album</a></li>
            <li><a href="/songform">Favorite Song</a></li>
            <li><a href="/socialform">Join our social club</a></li>
            <li><a href="/feedbackform">Site Feedback</a></li>
        
        </ul>
        </div>
        <footer>
            <div id="footer-container">
                <div id="copyright">
                    &copy; 2023 Mr.Kitty Unofficial Site. All rights reserved.
                </div>
                <div id="contact-info">
                    Contact: Kat Freeman | Phone: (207) 593-6552
                </div>
            </div>
        </footer>
    </body>
</html>
        
