<!DOCTYPE html>
<html lang="en">
    <link href="../static/mrkitty.css" rel="stylesheet">
    <script src="../static/mrkitty.js" defer></script>
<body>
<div id="form">
    <h2> Help us make this site better!<br>
         Any comments appreciated!

    </h2>
    <form action="/submission" method="post">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required>
    
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" required>
        
        <br>
    
    
        <br>
    
        <label for="activity1">one thing you like about our site?</label>
        <input type="text" id="activity1" name="like" value="" >
    
        <label for="activity2">one thing you dislike?</label>
        <input type="text" id="activity2" name="dislike" value="" >
        
    
    
        <textarea id="comments" name="comments" placeholder="additional comments?"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>