<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/mrkitty.css" rel="stylesheet">
    <script src="../static/mrkitty.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr Kitty - Music</title>
</head>
<body>
    <header>
        <div id="content-container">
            <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href ="/music">Music</a></li>
                        <li><a href="/engage">Engage</a></li>
                    </ul>
            </nav>
        </div>
    </header>
    <h1><strong>Music</strong></h1>
<div class="music-container">
            <div class="music">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/e4CpGLQI8mA?si=E56twlRdlcSvcGQf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            
            
            <div class="music">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/nld6DBwYI3k?si=NwDXZVp4fMYDcQUX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
    
                
           
    
    <div id="music">
            <h2>Apple Music Links</h2>
            <ul>
                <li><a href="https://music.apple.com/us/artist/mr-kitty/376202205">Mr. Kitty - all</a></li>
                <li><a href="https://music.apple.com/us/album/life/1176608521">Life</a></li>
                <li><a href="https://music.apple.com/us/album/d-e-a-t-h/1360101472">DEaTH</a></li>
                <li><a href="https://music.apple.com/us/album/time/1176303860">Time</a></li>
                <li><a href="https://music.apple.com/us/album/a-i/1209227462">A.I. (Deluxe)</a></li>
                <li><a href="https://music.apple.com/us/album/ephemeral/1456774525">Ephemeral</a></li>
                <li><a href="https://music.apple.com/us/album/eternity/1360100927">Eternity (Deluxe)</a></li>
    </div>
</div>
    <footer>
        <div id="footer-container">
            <div id="copyright">
                &copy; 2023 Mr.Kitty Unofficial Site. All rights reserved.
            </div>
            <div id="contact-info">
                Contact: Kat Freeman | Phone: (207) 593-6552
            </div>
        </div>
    </footer>
</body>
</html>
    