<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/mrkitty.css" rel="stylesheet">
    <script src="../static/mrkitty.js" defer></script>
    <title>Mr Kitty - Engage</title>
</head>
<body>
    <header>
        <div id="center">
            <strong><h1>Mr. Kitty</h1></strong>
            <strong><h2>music, facts, and more</h2></strong>
        </div>
        <div id="nav-container">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href ="/music">Music</a></li>
                        <li><a href="/engage">Engage</a></li>
                    </ul>
                </nav>
        </div>
    </header>
    <br>
    <br>
    <br>
    <div id="submission-container">
        <h3>Successfully Submitted <3</h3>
    </div>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
            <div id="footer-container">
                <div id="copyright">
                    &copy; 2023 Mr.Kitty Unofficial Site. All rights reserved.
                </div>
                <div id="contact-info">
                    Contact: Kat Freeman | Phone: (207) 593-6552
                </div>
            </div>
</footer>